<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fiuady.hadp.compustore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoriesActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/tag_categorias"
            android:theme="@style/CategoryTheme" />
        <activity
            android:name=".ProductsActivity"
            android:label="@string/tag_productos"
            android:theme="@style/ProductTheme" />
        <activity
            android:name=".AssemblyActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/tag_ensambles"
            android:theme="@style/AssembliesTheme" />
        <activity
            android:name=".ModAssemblyActivity"
            android:label="@string/tag_mod_ass"
            android:theme="@style/AssembliesTheme" />
        <activity
            android:name=".AddAssemblyActivity"
            android:label="@string/tag_add_ass"
            android:theme="@style/AssembliesTheme" />
        <activity
            android:name=".AddProductToAssemblyActivity"
            android:label="@string/dialog_addp"
            android:theme="@style/AssembliesTheme" />
        <activity
            android:name=".ClientsActivity"
            android:label="@string/tag_clientes"
            android:theme="@style/ClientsTheme" />
        <activity
            android:name=".OrdersActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/tag_ordenes"
            android:theme="@style/OrdersTheme" />
        <activity
            android:name=".AddOrderActivity"
            android:label="@string/tag_add_orden"
            android:theme="@style/OrdersTheme" />
        <activity
            android:name=".ReportsActivity"
            android:label="@string/tag_reportes"
            android:theme="@style/ReportsTheme" />
        <activity
            android:name=".ModOrderActivity"
            android:label="@string/tag_mod_orden"
            android:theme="@style/OrdersTheme" />
        <activity
            android:name=".AddAssemblyToOrderActivity"
            android:label="@string/tag_add_ass"
            android:theme="@style/OrdersTheme"/>
        <activity
            android:name=".ModClientActivity"
            android:label="@string/tag_mod_client"
            android:theme="@style/ClientsTheme"/>
    </application>

</manifest>